*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,#root,body,#app{
  height: 100%;
  width: 100%;
}


#app{
  background-color: rgb(46, 119, 138);
}

#app #back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 95%;
  width: 98%;
  background-color: rgb(148, 178, 235);
  border-radius: 10px;
}

#back #attempts{
  position: absolute;
  top: 5%;
  left:2%;
  font-size: 21px;
}

#back #score{
  position: absolute;
  right:2%;
  top: 5%;
  padding: 5px;
  height: 60px;
  width: 200px;/* 
  background-color: aqua; */
  font-size: 20px;
}

#cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 80%;
  background-color: rgba(162, 203, 204, 0.514); 
  position: absolute;
  bottom:0px;
  left:50%;
  transform: translate(-50%,-50%);
}

#cards .card ,#back #randomno{
  height: 100px;
  width: 200px;
  text-align: center;
  line-height: 100px; 
  border: none;
  border-radius: 20px;
}
#back #randomno {
  position: absolute;
  left:43%;
  top: 20%;
  background-color: rgba(247, 53, 53, 0.795);
}
#app #result{
  position: relative;
  top: 25%;
  left:20%;
  height: 50%;
  width: 60%;
  background-color: rgb(213, 224, 221);
  border-radius: 2%;
}
#result #message{
  font-size: 30px;
  color: rebeccapurple;
  text-align: center;
  line-height: 300px;
}